/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    /* border: 2px solid red; */

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Roboto Condensed", sans-serif;;
}

:root{
    --lead-black:#212121;
    --gold-finger:#F2BD12;
    --eye-ball:#FFFDF7;
    --hint-yellow:#FCF1CC;
    --pure-white:#FFF;

}

body{
    background:var(--eye-ball) ;
}

/* BASIC STYLING*/

a{
    font-size: .90rem;
    color:var(--lead-black);
    text-decoration: none;
    font-weight: bold;

}

.flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

li{
    list-style: none;
}

.between{
    justify-content: space-between;
}

.gap-4{
    gap:2rem;
}

.wrapper{
    max-width:1400px;
    padding-inline: 1.8rem;
    /* margin: auto;  */
}

.gap-2{
    gap: 1.2rem;
}

.nav-position{
    position: fixed;
}

/* HEADER STYLING */

.navbar{
    min-height: 14vh;
}

.logo{
    font-size: 1.2rem;
    color: var(--gold-finger);
    font-weight: bold;
    text-transform: capitalize;

}

.btn{
    /* display: inline-block; */
    font-weight: bold;
    padding: .9rem 2rem;
    font-size: 0.90rem;
    background: var(--gold-finger);
    color: var(--pure-white);
    border-radius: 1rem;
    box-shadow:rgba(0, 0, 0, 0.447) 0 2px 1px ;
    transition: .3s ease-in-out;
    
}

.btn:hover{

    background-color: var(--lead-black);

}

.cart-icon{
    font-size: 1.4rem;
    color: var(--lead-black);
    position: relative;
}

 .cart-value{
    position: absolute;
    top: 50%;
    right: -10px;
    font-size: 0.8rem;
    background-color: var(--gold-finger);
    border-radius: 1rem;
    padding: 0.1rem 0.4rem;
    color: var(--pure-white);
}
 
.hamburger{
    font-size: 1.2rem;
    color: var(--lead-black);
    display: none;
}

.mobile-manu{
    display:none;
}






/* SECTION STYLING */

/* HERO-SECTION */

.img-container img {

    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    
} 

.hero-section{
    min-height: calc(100vh - 14vh);
}

.section-content,
.img-container,
.service-card{
    flex: 1;
    flex-basis: 300px; 
}

.section-content h1{
    font-size: 2.6rem;
    color: var(--lead-black);
}

h1 span{
    color: var(--gold-finger);
}

p{
    font-size: 1.1rem;
    color: var(--lead-black);
}

.para{
    margin-block: 1rem;
}

.social-icon{
    background:var(--hint-yellow);
    border-radius: 1rem;
    /* width: 2rem; */
    padding:.2rem .5rem;
    font-size: 1.2rem;
    text-align: center;
    transition: .3s ease-in-out;

}

.social-icon:hover{
    background: var(--lead-black);
    color: var(--pure-white);
}


/* SECTION #1-STYLING */

.p-top{
    padding-top: 4rem;
    
}
 .text-center{
    text-align: center;
 }  

 .service-card-top-margin{
    margin-top:1.2rem ;
 }

.flex-items{
    justify-content:space-between;
    align-items: center;
}

.section1-text h5{
    color: var(--gold-finger);
    font-size: 1.2rem;
    
    
}

.section1-text h1{
    color: var(--lead-black);
    font-size: 1.7rem;
    margin-top: 0.6rem;
}

.service-card h3{
    font-size: 1rem;
    /* margin-block: 1rem; */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}

p{
    font-size: 0.9rem;
    color: var(--lead-black);
}

/* SECTION#2 STYLING */

.section2-text h5{
    color: var(--gold-finger);
    font-size: 1.2rem;
    
    
}
.section2-text h1{
    color: var(--lead-black);
    font-size: 1.7rem;
    margin-top: 0.6rem;
}
.card-image img{
   width: 10rem;
   filter: drop-shadow(
    rgba(0, 0, 0, 0.504) 0 10px 10px
   )
   
  
}


.card-list{
    gap: 1rem;
    margin-top: 2rem;
}
.card-order{
    flex: 1;
    flex-basis: 250px;
    gap: 2rem;
    background: var(--pure-white);
    border: 2px solid var(--hint-yellow);
    border-radius: 2rem;
    padding: 0 1rem 2rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.275) 0 10px 10px;
    
    
}


.card-order h4 {
    /* margin: 1rem 0; */
    margin-bottom: 2rem;
    font-size: .9rem;
    color: var(--lead-black);

}

.card-order .price{
    font-size: .9rem;
    margin-bottom: 2rem;
    color: var(--gold-finger);
}



/* CART-TAB */

.cart-tab{
    background: var(--hint-yellow);
    position: fixed;
    /* inset: 0 -500 0 auto ; */
    top: 0;
    right: -500px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding-block: 2rem;
    width: 24rem;
    justify-content: center;
    align-items: center;
    z-index: 99;
    transition:.4s ease-in-out;

}

.cart-active{
    inset: 0 0 0 auto;

  
}
.cart-list{
    flex: 1;
    width: 100%;
    margin-top: 1rem;
    overflow: auto;
}

.cart-list::-webkit-scrollbar{
    width: 0;

}

.cart-list .item:nth-child(even){
    background: var(--eye-ball);
}

.total-container{
    width: 100%;
    background: var(--gold-finger);
    margin-bottom: 1.6rem;
    padding-block: 1rem;
    align-items: center;
    justify-content: center;
    
} 

.total-container h4{
    font-size: 1rem;
    font-weight: 400;
    
    
} 



.btn-container .btn{
    background: var(--lead-black);
    margin: 1rem;
    transition: .3s ease-in-out;

}

.btn-container .btn:hover{
    background: var(--gold-finger);
    color: var(--lead-black);

}

.item-image img{
    width: 6rem;
}

.item{
    display: flex;
    align-items: center;
    padding: .8rem .6rem;
    flex: 1;
    transition: all .5s ease-in-out;
}

.item.slide-out{
    transform: translateX(50%);
}


.detail{
    flex: 2;
}

.item h4{
    font-size: 1rem;
    font-weight: 400;
    margin-block: .5rem;
}


.gap{
    gap: .9rem;
}
.quantity-btn{
    font-size: 1rem;
    background: var(--lead-black);
    color: var(--pure-white);
    width: 1.6rem;
    aspect-ratio: 1;
    line-height:1.5rem;
    text-align: center;
    border-radius: 2rem;
}

.quantity-value{
    font-size: 1rem;
    font-weight: 400;
}

/* SECTION-3 */

.swiper{
    width:100%;
    height:100%;
    }


.section-3-image img { 
    max-width:500px;
    display: block;
    
   }    


.flex-sec-3{
    justify-content: center;
    align-items: center;
}
.section-content-3 h5{
    font-size: 1.2rem;
    color: var(--gold-finger);
}

.section-content-3{
    padding-top:2.8rem; 
 }  

.section-content-3 h1{
    font-size: 1.7rem;
    color: var(--lead-black);
}

.section-3-gap{
    gap: 2rem;
}

.reviews-container{
    width: 500px;
    max-width: 100%;
    flex: 1;
    
}
 
.profile img{
    width: 4rem;
    aspect-ratio: 1;
    border: 2px solid var(--lead-black);
    border-radius: 2rem;
}

.fa-star{
    color: var(--gold-finger);
} 

.swiper-slide h4{

    font-size: 1rem;
    margin-bottom: .7rem;
}

.img-stars{
    margin-top: 1rem;
}

.section-3-para{
    margin-top: 1rem;
    font-size: .9rem;
}

.arrow{
    background: var(--gold-finger);
    border-radius: 1rem;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1.6rem;
    color: var(--lead-black);
}

.swiper-wrapper{
    margin-top: 2rem;
}

/* SECTION-4-STYLING */

.app-container{
    background: var(--hint-yellow);
    border-radius:3rem;
    padding: 3rem 6rem;
    justify-content: center;
    align-items: center;
}


.app-container img{
    height: 300px;
    /* padding-left: 20rem; */
}

.gap-sec-4{
    gap: 3rem;
}

.section-4-content h1{
    font-size: 1.7rem;
    color: var(--lead-black);
    margin-bottom: 1.7rem;
}

.section-4-content h5{
    font-size: 1.2rem;
    color: var(--gold-finger);
    margin-bottom: 2rem;
}

.section-4-para{
    font-size: .9rem;
    margin-block: 2rem;
}

/* SECTION-5 STYLING  */


.email-container{
    background: var(--pure-white);
    width: 34rem;
    max-width: 100%;
    /* we use margin auto to make the div in center of page */
    margin: auto; 
    /* border: 2px solid grey; */
    border-radius: 1rem;
    padding: .6rem;
    box-shadow: rgba(0, 0, 0, 0.363) 0 5px 8px;
    margin-top: 3rem;
}

input[type="email"]{
    flex: 1;
    height: 4vh;
    border: none;
    padding-left: 1rem;
    font-size: 1rem;

}

input[type="email"]:focus{
    outline: none;

}


    

.section-5-content h1{
    font-size: 1.7rem;
    color: var(--lead-black);
    margin-bottom: 1.3rem;
    
}


.section-5-content h5{
    font-size: 1.2rem;
    color: var(--gold-finger);
    margin-bottom: .5rem;
}

.section-5-content P{
    font-size: .9rem;
    margin-block: 2rem;
}

/* FOOTER STYLING */

.footer-container{
    margin-top: 10rem;
    padding-block: 4rem;
    background: var(--hint-yellow);
}

.footer-container .flex{
    align-items: flex-start;

}

.footer-wrapper:nth-child(1){
    flex: 2;
    flex-basis: 300PX;
}

.footer-wrapper{
    flex: 1;
    flex-basis: 200PX;
}



.footer-wrapper p{
    font-size: .9rem;
    margin-block:1rem;
    color: grey;
}

.footer-wrapper .social-icon{
    background: var(--pure-white);
    transition: .3s ease-in-out;
}

.footer-wrapper .social-icon:hover{
    background:var(--lead-black) ;
    color: var(--pure-white);
} 

ul h4{
    font-size: 1.1rem;
}

.footer-links{
    font-size: .8rem;
    color: grey;
    transition: .2S ease-in-out;

}

.footer-links:hover{
    color: var(--lead-black);
}



.footer-link-gap{
    margin-block: .7rem;
}




















/* MEDIA QUERIES */
@media screen and (max-width:780px) {
    .section-3-image img{
        padding-inline:5rem ;

    }

    
}



@media screen and (max-width:780px){
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
    .nav-list,
    .desktop-action .btn{
        display: none;
    }

     .hamburger{
        display: block;
    } 

/* MOBILE-MANU */

/* HEADER STYLE */

.mobile-manu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    gap: 2rem;
    top:20%;
    left: -100%;
    background:var(--pure-white) ;
    width: 20rem;
    padding: 2rem;
    /* padding: 2rem 9rem; */
    transform: translateX(-50%);
    border: 2px solid var(--gold-finger);
    box-shadow: rgba(0, 0, 0, 0.05) 8px 8px 8px,
    rgba(0, 0, 0, 0.05) 8px 8px 8px inset ;
    border-radius: 2rem;
    transition: all .5s ease-in-out;

}
.mobile-manu-active{
    left: 50%;
    transform: translateX(-50%);


}

/* HERO STYLE */
.img-container img{
    height: 300px;
    width: 400px;   
}

.section-content h1{
    font-size: 1.1rem;
}
.para{
    font-size: 0.8rem;
}

.gap-4{
    gap: 4rem;
    text-align: center;

}

/* SECTION#1 */

.gap-2-service-card{
    gap: 1.5rem;
}
.section1-text h1{
    font-size: 1.4rem;
}

/* SECTION-3*/

.app-container{
    padding: 2rem 4rem;
}

.app-image img{
    height:200px;
 
}

.app-container h1{
    font-size: 1.1rem; 
}

.app-container h5{
    font-size: 1rem; 
}


.section-4-para{
    font-size: .7rem;
}

.section-4-content .btn{
    padding: .8rem .9rem;
    font-size: .7rem;

}

.section-4-content{
    text-align: center;
}

/* FOOTER */
/* ADDING MARGIN TOP  IN UL LINKS IN RESPONSIVENESS */

.flex.wrapper ul{
    margin-top: 3rem;
}



}


